
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />

<!DOCTYPE html>
<html>
<head>
    <title>Library Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidebar {
            height: 100%;
            width: 240px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 16px;
        }

            .sidebar a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
            }

                .sidebar a:hover {
                    color: #f1f1f1;
                }

        .main {
            margin-left: 240px; /* Same as the width of the sidenav */
            padding: 0px 10px;
        }

        @@media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 15px;
            }

                .sidebar a {
                    font-size: 18px;
                }
        }
    </style>

</head>
<body>

    <div class="sidebar">
        <a href="#"><i class="glyphicon glyphicon-home"></i> &nbsp; Home</a>
        <a href="/Category/Index/"><i class="glyphicon glyphicon-list"></i> &nbsp; Category</a>
        <a href="/Book/Index/"><i class="glyphicon glyphicon-book"></i> &nbsp; Books</a>
        <a href="/Author/Index/"><i class="glyphicon glyphicon-pencil"></i> &nbsp; Authors</a>
        <a href="/Member/Index"><i class="glyphicon glyphicon-user"></i> &nbsp; Members</a>
        <a href="/Employee/Index/"><i class="glyphicon glyphicon-tower"></i> &nbsp; Employees</a>
        <a href="/School/Index/"><i class="glyphicon glyphicon-education"></i> &nbsp; Schools</a>
        <a href="/Publisher/Index/"><i class="glyphicon glyphicon-copyright-mark"></i> &nbsp; Publishers</a>
        <a href="/BookTransaction/lendBook/"><i class="glyphicon glyphicon-circle-arrow-left"></i> &nbsp; Lend a book</a>
        <a href="/BookTransaction/Index/"><i class="glyphicon glyphicon-circle-arrow-right"></i> &nbsp; Take a return</a>
        <a href="/Transaction/Index"><i class="glyphicon glyphicon-dashboard"></i> &nbsp; Transactions</a>
        <a href="/Showcase/Index" target="_blank"><i class="glyphicon glyphicon-modal-window"></i> &nbsp; Showcase</a>
        <a href="/Widget/Index" ><i class="glyphicon glyphicon-th-large"></i> &nbsp; Widget Cards</a>

        @*cancelled
        <a href="/Dashboard/Index"><i class="glyphicon glyphicon-sort"></i> &nbsp; Dashboard</a>*@

        <a href="#"><i class="glyphicon glyphicon-euro"></i> &nbsp; Safe</a>
        <a href="#"><i class="glyphicon glyphicon-cog"></i> &nbsp; Settings</a>
        <a href="#"><i class="glyphicon glyphicon-phone"></i> &nbsp; Support</a>
        <a href="#"><i class="glyphicon glyphicon-remove-circle"></i> &nbsp; Exit</a>
    </div>

    <div class="main">
        @RenderBody()
    </div>

</body>
</html>
