
@model libraryManagementSystem.Models.Entity.schools
 
@{
    ViewBag.Title = "showUpdateSchool";
    Layout = "~/Views/Shared/Layout_1.cshtml";
}

@using (Html.BeginForm("updateSchool", "School", FormMethod.Post))//action name, controller name, form method type. Note that '@' tag helps us to use html helper commands
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        @*@Html.LabelFor(s => s.school_id)*@
        <label>School ID</label>
        @Html.TextBoxFor(s => s.school_id, new { @class = "form-control", @readonly = "readonly" })
        <br />
        <label>School Name</label>
        @*@Html.LabelFor(s => s.school_name)*@
        @Html.TextBoxFor(s => s.school_name, new { @class = "form-control", autocomplete="off"})
        @Html.ValidationMessageFor(s => s.school_name, "", new { @style = "color:red" })
    </div>
    <div>
        <button class="btn btn-warning">Update</button>
    </div>
}


